
#music-page
{
    display: none;
    padding: 10px;
    border: 1px solid #ddd;
}

#stt-page
{
    padding: 10px;
    border: 1px solid #ddd;
}

#title
{
    font-size: 20px;
}

img
{
    float: left;
}

#detail
{
    font-size: 15px;
    margin-left: 5px;
}

#ico-tai
{
    font-size: 18px;
    margin-left: 5px;
    color: #01F;
}

#album-page
{
    display: none;
    border: 1px solid #ddd;
    padding: 10px;
}

#search-page
{
    display: none;
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

#bxh-page
{
    border: 1px solid #ddd;
    margin-bottom: 10px;
}

.panel-footer{
    position: absolute;
    bottom: 0px;
}
